<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safari Stickerbook</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/konva/konva.min.js"></script>
</head>
<body>
    <h1>Safari Stickerbook</h1>
    <input type="file" id="imageUpload" accept="image/*" style="display:none">
    <label for="imageUpload" class="button">Choose an Animal </label>
    <input type="file" id="backgroundUpload" accept="image/*" style="display:none">
    <label for="backgroundUpload" class="button">Choose a background</label>
    <div class="parent-container">
        <div class="canvas-container">
            <!-- <div id="loadingIcon" style="display: none;">
                <img src="loading.gif" alt="Loading...">
            </div> -->
            <div id="imageContainer"></div>
            <div id = "errorContainer"></div>
        </div>
        <!-- <div id = "errorContainer"></div> -->

        <div class="sticker-container">
            <div id="stickerContainer"></div>
            <button id="downloadBtn">Download Sticker Canvas as PNG</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
